{% extends 'base.html' %}

{% block head %}
<title>First Quarter</title>
{% endblock %}

{% block body %}
<div class="main-container about">
    <div class="navbar-container">
        <div class="navbar-item">
            <p><a href="/" class="styled-link">home</a></p>
            <p><a href="/about" class="styled-link">about</a></p>
            <p><a href="/partners" class="styled-link">partners</a></p>
            <p><a href="/initiatives" class="styled-link">initiatives</a></p>
            <p><a href="/contribute" class="styled-link">contribute</a></p>
        </div>
    </div>
    <div class="hero-container">
        <img src="../static/images/hero-text-about.svg" width="38%">
        <div class="about-blurb-container">
            <p>Good startups happen everywhere. We hear that all the time. But we believe that good startups happen outside of the main centers, and with people outside the typical founder archetype.</p>
        </div>
        <!-- <h1 class="hero-text">First<br>Quarter</h1> -->
    </div>
</div>
{% endblock %}