{% extends 'base.html' %}

{% block head %}
<title>First Quarter</title>
{% endblock %}

{% block body %}
<div class="main-container home">
    <div class="navbar-container">
        <div class="navbar-item">
            <p>about</p>
            <p>partners</p>
            <p>initiatives</p>
            <p>contributes</p>
        </div>
    </div>
    <div class="hero-container">
        <img src="static/images/hero-text-home.svg" width="60%">
        <div class="button-container">
            <p>our thesis</p>
            <img src="static/images/arrow.svg" width="16px">
        </div>
        <!-- <h1 class="hero-text">First<br>Quarter</h1> -->
    </div>
</div>
{% endblock %}